{{!< layout}}
{{#if instance}}
  {{#if isTestingOnly}}
    <div>Tests {{{testResults}}} <img src="https://s3-us-west-1.amazonaws.com/runnable-design/status-{{{testColor}}}.svg" title="{{{testResults}}}" width="9" height="9" class="icon-status">{{{repoName}}}/{{{instanceName}}}.</div>
    <div><a href=http://{{{url}}} target="_blank" class="link">View on Runnable</a></div>
  {{else}}
    {{#if status}}
    {{!--
      possible status colors:
        "green"
        "orange"
        "red"
        "gray"
    --}}
    <div>{{{ state }}} <img src="https://s3-us-west-1.amazonaws.com/runnable-design/status-{{{statusColor}}}.svg" title="{{{status}}}" width="9" height="9" class="icon-status">{{{repoName}}}/{{{instanceName}}}.</div>
      <div><a href="{{{environmentUrl}}}" target="_blank" class="link">View output</a></div>
      <div><a href=http://{{{url}}} target="_blank" class="link">Manage on Runnable</a></div>
    {{else}}
    {{!-- if no status (between building and running) --}}
    <div>{{{ state }}} <img src="https://s3-us-west-1.amazonaws.com/runnable-design/status-{{{statusColor}}}.svg" title="{{{status}}}" width="9" height="9" class="icon-status">{{{repoName}}}/{{{instanceName}}}</div>
      <div><a href="{{{environmentUrl}}}" target="_blank" class="link">View output</a></div>
      <div><a href=http://{{{url}}} target="_blank" class="link">Manage on Runnable</a></div>
    {{/if}}
  {{/if}}
{{/if}}
{{#unless instance}}
  <div><span class="emoji">🔭</span> {{{text}}}</div>
  <div><a href="//runnable.com/" class="link" target="_blank">Go to Runnable</a></div>
{{/unless}}
